{% extends '::layout.html.twig' %}

{% block title %}Liste du matériel - Décibels{% endblock %}

{% block body %}
	<table class="table-bordered">
		<tr style="font-size: 18px; color: #FFEB3B; background-color: #591820;" class="row">
			{% if app.user %}
				{% if app.user.roles[0] == 'ROLE_ADMIN' %}
					<th class="col-md-3 text-center">Nom</th>
					<th class="col-md-2 text-center">Type</th>
					<th class="col-md-2 text-center">Caution</th>
					<th class="col-md-3 text-center">Disponible</th>
					<th class="col-md-1"></th>
					<th class="col-md-1"></th>
				{% else %}
					<th class="col-md-3 text-center">Nom</th>
					<th class="col-md-3 text-center">Type</th>
					<th class="col-md-3 text-center">Caution</th>
					<th class="col-md-3 text-center">Disponible</th>
				{% endif %}
			{% else %}
				<th class="col-md-3 text-center">Nom</th>
				<th class="col-md-3 text-center">Type</th>
				<th class="col-md-3 text-center">Caution</th>
				<th class="col-md-3 text-center">Disponible</th>
			{% endif %}
		</tr>
		{% for materiel in materiels %}
			<tr class="row">
				{% if app.user %}
					{% if app.user.roles[0] == 'ROLE_ADMIN' %}
						<td class="col-md-3">{{ materiel.nom }}</td>
						<td class="col-md-2">{{ materiel.type }}</td>
						<td class="col-md-2 text-center">{{ materiel.prix }}</td>
						<td class="col-md-3 text-center">{{ materiel.maxNum }}</td>
						<td class="col-md-1 text-center"><a style="color: #591820;" href="{{ path('decibels_materiel_edit', {'id': materiel.id }) }}"><span class="glyphicon glyphicon-edit"></a></span></td>
						<td class="col-md-1 text-center"><a style="color: #591820;" href="{{ path('decibels_materiel_delete', {'id': materiel.id }) }}"><span class="glyphicon glyphicon-remove"></a></span></td>
					{% else %}
						<td class="col-md-3">{{ materiel.nom }}</td>
						<td class="col-md-3">{{ materiel.type }}</td>
						<td class="col-md-3 text-center">{{ materiel.prix }}</td>
						<td class="col-md-3 text-center">{{ materiel.maxNum }}</td>
					{% endif %}
				{% else %}
					<td class="col-md-3">{{ materiel.nom }}</td>
					<td class="col-md-3">{{ materiel.type }}</td>
					<td class="col-md-3 text-center">{{ materiel.prix }}</td>
					<td class="col-md-3 text-center">{{ materiel.maxNum }}</td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>
{% endblock %}
