{% extends '::layout.html.twig' %}

{% block title %}News : {{ entity.title }} - Décibels{% endblock %}

{% block body -%}
		{% if entity.picture %}
			<img src="{{ asset('uploads/news/' ~ entity.picture.name) }}" alt="{{ entity.title }}" width="100%" style="border: 1px solid #591820" />
		{% endif %}
		<h2 class="text-center">{{ entity.title }}</h2>
		{{ entity.text|raw }}<br />
		<div class="fb-like" data-href="{{ path('decibels_news_show', { 'id': entity.id }) }}" data-layout="button" data-action="like" data-show-faces="false" data-share="true" style="float: left;"></div>
		<div class="text-right" style="min-widht: 100%;">Publiée le : {{ entity.date|date('Y-m-d') }} à {{ entity.date|date('H:i') }}</div>
		<div class="text-right" style="min-widht: 100%;">Écrit par : {{ entity.author }}</div>		
		{% for comment in entity.comments %}
			{{ comment.author }} le {{ comment.date|date('Y-m-d') }} à {{ comment.date|date('H:i') }} : {{ comment.text }}
		{% endfor %}
{% endblock %}
